* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:root {
    --cor01: #e5e5e5;
    --cor02: #ffffff;
    --cor03: #0A3871; 
    --cor04: #D8DFE8;
}

body {
    background-color: var(--cor01);
}

.apresentacao {
    padding: 20px;
    display: flex;
    align-items: center;  
    justify-content: center;  
    gap: 82px;
}


p {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

#mensagem {
    padding: 30px;
    margin-bottom: 340px;
    width: 600px;
    border: none;
    color: var(--cor03);
    background-color: var(--cor01);
    font-size: 32px;
    outline: none;
}

#mensagem::placeholder {
    color: var(--cor03);   
}


button {
    width: 250px;
    text-align: center;
    
}

#criptografar__texto {
    justify-content: center;
    height: 45px;
    border-radius: 20px;
    border: 1px solid darkblue;
    background-color: var(--cor03);
    color: white;
    font-size: 20px;
}

#descriptografar__texto {
    background-color: var(--cor04);
    color: var(--cor03);
    height: 45px;
    border-radius: 20px;
    border: 1px solid var(--cor03);
    font-size: 20px;

}

.receber__mensagem {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: var(--cor02);
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
}
